#home{
  background-image: url("the-flatiron-building.png");
}
h1{
  font-family: Helvetica;
  color: white;
  font-size: 70px;
  font-weight: bold;
}
body{
  text-align: center;
}
ul{
  list-style-type: none;
}
#supmenu{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
a{
  color: white;
}
h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
p{
  font-family: Helvetica;
  font-size: 14px;
}
#ny{
  background-image: url("the-flatiron-building.png");
  color: white;
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
footer{
  font-family: Helvetica;
  font-size: 11px;
  color:white;
  background-color: dimgray;
  text-align: left;
}
