#home{
  background-image: url("the-flatiron-building.png");
}
h1{
  font-family: Helvetica;
  color: white;
  font-size: 70px;
  font-weight: bold;
}
body{
  text-align: center;
}
ul{
  list-style-type: none;
}
#supmenu{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
a{
  color: white;
}
h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
